body { padding: 0; margin: 0; }

#mainContainer p { padding: 10px; margin: 10px; }
#mainContainer button { width: 200px; }
#mainContainer input[type="text"] { width: 200px; }
#mainContainer div { margin: 20px; }